#  mesh-orange/debian/packages.d/hostapd.customise.add/etc/systemd/network/95-wlan-hostap.network
# By default, all wlan interfaces will be access points
[Match]
Type=wlan
Driver=xradio_wlan brcmfmac

[Network]
Bridge=br-ap
